:root {
  --hero-bg-color:#014E56;
  --main-text-color: #fff;
  --build-bg--color:#012F34;
  --ready-bg--color:#F67E7E;
  --footer-bg-color:#002529;
  --directors-bg-color:#004047;
  --directors-title-color:#79C8C7;
}